*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(248,232,217);
}

.headerbar{display: none;}

.bar{
    display: none;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0  5px 0px 7vw;
    background-color: rgb(248,232,217);
    border-bottom: 2px solid rgb(135, 252, 124);
    box-shadow: 0 2px 20px rgb(185, 41, 36);
    
    
    


}



.header ul{
    align-items: center;
    display: flex; 
}
.header ul li:hover{
    color: rgb(253,57,8);
    
}
.nav ul li{
padding: 0 15px;
font-size:14px;
font-weight: bold;
cursor: pointer;

}
.account{
    flex:0.1;
}
.account ul{

display: flex;
justify-content: end;

}
.account ul li{
    padding :0 15px;
    font-size:18px;
}
.bar1:hover{
    color:rgb(253,57,8)
}

    h3{
        text-align: center;
        font-size: 30px;
        margin: 0;
        padding-top: 10px;
        padding-top: 15px;
    }
    .foodmenu{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items:  center;
        margin: 50px 0;
    }

    .content{
        width: 20%;
        margin: 15px;
        box-sizing: border-box;
        float: left;
        text-align: center;
        border-radius: 20px;
        cursor: pointer;
        padding-top: 10px;
        box-shadow:  0 14px 28px rgba(0,0,0,0.25),0 10px rgba(0,0,0,0,22);
        transition: 0.4s;
        background-color: #fff;
    }
    .content:hover{
        box-shadow:  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transform: translate(0px,-8px);
    }
    .content img{
        width: 200px;
        height: 200px;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    p{
        text-align: center;
        color: black;
        font-size: 15px;
        padding-top: 15px
    }
    h6{
        padding-top: 50px;
        font-size: 26px;
        text-align: center;
    
margin: 0;   
 }
 .footer{
    padding: 50px 0;
    border-top: 2px solid rgb(252,184,187);
    background-color:  rgb(252,222,195);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    float: left;
    width: 100%;
}

.footer p{
    background-color: rgb(252,222,195);
    cursor: pointer;
    font-size: 14px;
    padding: 2px;

}
.footer-2{
    background-color: rgb(252,222,195);
    text-align: center;
    cursor: pointer;
}
.footer-2 img{
    background-color: rgb(252,222,195);
    width: 300px;
    margin-bottom: 15px;
}
 @media(max-width:1000px){
        .content{
            width: 45%;
        }
    }
    @media(max-width:750px){
        .content{
            width: 100%;
        }
        .footer div:last-child{
            margin-bottom: 0;
        }
        .footer{
            padding-bottom: 25px;
        }
        .footer-2 h2{
            font-size: 20px;
        
    }
    }
    